{% extends "basenav.html" %}

{% block title %}Lotto Results{% endblock %}

{% block body %}
<div class="my-4 container text-center">
  <h1>Lucky Lotto</h1>
  <p class="lead">Spend 10 gold to get a chance at earning a new character and increasing your luck stat</p>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning" role="alert">
    {{ message }}
  </div>
  {% endfor %}
</div>

<div id="lotto" class="my-5 container text-center">
  <div class="alert alert-danger" role="alert">
    <h1 class="font-weight-bold">
      {% if isWinner %}
      🎰 🎰 🎰 YOU WON! 🎰 🎰 🎰
      {% else %}
      🎰 🎰 🎰 YOU LOST! 🎰 🎰 🎰
      {% endif %}
    </h1>
  </div>
  <div class="row">
    <div class="col-sm">
	<img class="card-img-top" style="border: black solid 10px; border-radius: 10px;" src="{{ img1 }}" alt="slot">
    </div>
    <div class="col-sm">
	<img class="card-img-top" style="border: black solid 10px; border-radius: 10px;" src="{{ img2 }}" alt="slot">
    </div>
    <div class="col-sm">
	<img class="card-img-top" style="border: black solid 10px; border-radius: 10px;" src="{{ img3 }}" alt="slot">
    </div>
  </div>
</div>


{% if isWinner %}
<div class="my-5 container text-center">
  <form action="/lottoswitch" method="POST">
    <input type="hidden" id="charID" name="charID" value="{{ charID }}">
    <input type="hidden" id="charName" name="charName" value="{{ charName }}">
    <input type="hidden" id="charImg" name="charImg" value="{{ img1 }}">
    <button type="submit" class="btn btn-primary btn-lg">Switch Character to {{ charName }}</button>
  </form>
  <br>
  <a href="/lottogold" class="btn btn-warning btn-lg">Take 50 Gold Instead</a>
</div>
{% else %}
<div class="my-5 container text-center">
  <a href="/dashboard" class="btn btn-primary btn-lg">Return to Dashboard</a>
</div>
{% endif %}
{% endblock %}
