{% extends "basenav.html" %}

{% block body %}
  <h1 class="bg-info text-center">Intelligence Trivia</h1>
  <div class="instruction">
    <p class="text-center"> Get 1 gold for every question answered correctly, and increase your intelligence stat </p>
    <div class = "form-group">
      <form action='/quiz' method='POST'>
        <ol>
          {% for i in q %}
              <li>{{i}}</li>
              {% for j in o[i] %}
                  <br><input type='radio' value='{{j}}' name= {{i}}' />{{j}}
              {% endfor %}

          {% endfor %}
          <br>
        </ol>
        <input type="submit" value="submit" />
      </form>
    </div>

{% endblock %}
